{% extends "default.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <h2 id="header"></h2>

    <h3>
        AlphaFold distribution
        <div class="sub-header"></div>
    </h3>

    <form>
        <label>Sequence status</label>
        <label>
            <input name="fragment" value="" type="radio" checked />
            <span>All</span>
        </label>
        <label>
            <input name="fragment" value="true" type="radio" />
            <span>Fragments</span>
        </label>
        <label>
            <input name="fragment" value="false" type="radio" />
            <span>Complete</span>
        </label>
    </form>
    <form>
        <label>Taxonomic origin</label>
        <label>
            <input name="origin" value="merged" type="radio" checked />
            <span>All (merged)</span>
        </label>
        <label>
            <input name="origin" value="stacked" type="radio" />
            <span>All (stacked)</span>
        </label>
        <label>
            <input name="origin" value="arch" type="radio" />
            <span>Archaea</span>
        </label>
        <label>
            <input name="origin" value="bact" type="radio" />
            <span>Bacteria</span>
        </label>
        <label>
            <input name="origin" value="euk" type="radio" />
            <span>Eukaryotes</span>
        </label>
        <label>
            <input name="origin" value="others" type="radio" />
            <span>Others</span>
        </label>
    </form>

    <div id="hists">
        <div id="glo-hist"></div>
        <div id="dom-hist"></div>
    </div>

    <h3>AlphaFold predictions</h3>
    <table id="structures">
        <thead>
            <tr>
                <th>Accession</th>
                <th>Status</th>
                <th>Sequence</th>
                <th>Length</th>
                <th>Species</th>
                <th><abbr title="Mean sequence pLDDT">seq-pLDDt</abbr></th>
                <th><abbr title="Mean domain pLDDT">dom-pLDDt</abbr></th>
                <th>&delta;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}

{%  block scripts %}
    <script type="text/javascript">
        const ACCESSION = '{{ accession }}';
    </script>
    <script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="//code.highcharts.com/10.2/highcharts.js"></script>
    <script src="{{ url_for('static', filename='entry.js') }}" type="module"></script>
{% endblock %}